.bkg {
	background-image: url("/static/images/banner1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	height: 100%;
}

.banner {
	height: 29.5rem;
}

.banner-text {
	display: flex;
	padding: 1rem 50% 1rem 1rem;
}
.banner-text h1 {
	margin: 10px 0;
	color: #30337f;
}
.banner-text p {
	margin: 10px 0;
	font-size: 1.4rem;
}

.outline-thin {
  border: 1px solid #fff; 
  /* // border-radius: 4px;  */
  overflow: hidden; 
}

.outline {
  border: 2px solid #fff; 
  border-radius: 4px; 
  overflow: hidden; 
}
.opacity {
  transition: backgroud-color 2s linear, color 2s linear; 
  background: rgba(255,255,255,0);
}
.link{
  display: inline-block;
  text-decoration: none;
  vertical-align: top; 
  width: 150px; 
  height: 34px; 
  line-height: 36px;
  color: #fff;
  letter-spacing: 0.1em; 
  text-align: center; 
  font-size: 1.3rem; 
  /*margin: ; */
  position: relative; 
}

.block-c {
	display: block;
	overflow: auto;
	/*height: 50rem;*/
	text-align: center;
}

.header {
	width: auto;
	padding: 1rem;
}
.header h4 {
	margin: 10px;
}
.header h6 {
	margin: 5px;
	color: #4caf50;
}

.p-title1 {
	margin: 10px;
	color: #d5820d;
	font-size: 22px;
	font-family: 'Slabo 27px', serif;
}
.p-title2 {
	margin: 5px;
	color: white;
	font-size: 33px;
	font-family: 'Merriweather', serif;
}
.p-title2-b {
	margin: 5px;
	font-size: 33px;
	font-family: 'Merriweather', serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
}
.card2 {
	width: 30%;
	padding: 2px 16px;
}

.p-custom1 {
	font-family: 'Slabo 27px', serif;
	color: white;
	font-size: 18px;
}
.p-custom2 {
	font-family: 'Slabo 27px', serif;
	color: white;
	font-size: 21px;
}
.detail-center {
	padding: 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-c {
    padding: 2px 16px;
}

.cards-profile {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6px;
	margin-bottom: 6px; 
	width: 97%;
	height: 20rem;
	object-fit: cover;
	border-radius: 7px;
}

.cards-title {
	text-decoration: none;
	color: #128ec3;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	/*margin: 10px;*/
}

.block-c2 {
	display: block;
	overflow: auto;
	width: 100%;
}

.flex {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
.flex h3 {
	font-size: 20px;
	margin-left: 10%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.flex-bg {
	background-color: #d5820d;
}

.space {
	margin-top: 1rem;
}
.space-5 {
	margin-top: 5rem;
}

.input-custom {
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
}
.input-end {
	margin-right: 10%;
}

.profile{
	display: flex;
	margin: 0 20%;
	height: 20rem;
}
.profile-mug {
	object-fit: cover;
	min-width: 40%;
	height: 100%;
}


.flex-c {
	display: flex;
}

.panel-detail {
	margin-top: 7.5%;
	margin-right: 5%;
	margin-left: 5%;
	padding: 1rem;
	text-align: left;
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
}
.panel-sub {
	text-align: left;
	padding: 0 1rem;
	padding-bottom: 1rem;
	margin-right: 5%;
	margin-left: 5%;
	font-family: 'Slabo 27px', serif;
	font-size: 25px;
	color: white;
}

.brownies {
	background-color: #d5820d;
}
.p-left {
	margin-left: 5%;	
}
.light-blue {
	background-color: #128ec3;
}
.c-white {
	color: white;
}
.magenta {
	background-color: #30337f;
}

.arrow-blue {
	/*display: flex;*/
   	position: absolute;
   	margin-top: 8.5rem;
    right: 56%;
    border-top: 30px solid transparent;
  	border-bottom: 30px solid transparent; 
   	border-right: 30px solid #128ec3;
}
.arrow-orange {
	/*display: flex;*/
   	position: absolute;
   	margin-top: 1.5rem;
    right: 42.5%;
    border-top: 30px solid transparent;
  	border-bottom: 30px solid transparent; 
   	border-left: 30px solid #d5820d;
}

.android {
	width: 12%;
	margin-bottom: 1rem;
}

/*NEWS*/
.dark-blue {
	background-color: #24387e;
}

.news-header {
	display: block;
	height: 5rem;
	padding: 1rem;
}

.padLR6 {
	padding: 0 6rem;
}

.bkg-news {
	background-image: url("/static/images/news2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
}

.meta-info {
	padding-top: 5%;
	padding-right: 55%;
}

.meta-text {
	margin: 5px;
	color: white;
	font-family: 'Slabo 27px', serif;
}

.meta-title {
	margin-left: 5px;
	margin-right: 5px;
	font-family: 'Merriweather', serif;
}

.space-5L {
	margin-left: 5px;
}

.black {
	color: black
}

.news-feed {
	height: 86rem;
}

.news-card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}
.news-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	width: 100%;
	height: 15rem;
	object-fit: cover;
	border-radius: 13px;
	object-position: 50% 35%;
	padding: 10px;
	overflow: hidden;
}

.card-cnews {
	padding: 10px 5px;
}

.time-news {
	font-size: smaller;
	color: lightslategrey;
}

.steel-gray {
	background-color: #e8edee;
}

.lefter {
	float: left;
}

.form-pad {
	border-radius: 5px;
	padding: 40px;
}

.txt-hide {
	overflow: hidden;
}