/* // Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */


/* // GLobal */
@import 'font-awesome';

.vl {
    border-right: 1px solid #ccc;
    height: auto;
}

.slabo27 {
	text-decoration: none;
	color: black;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}

.panel-c {
	/* // display: flex; */
	margin-right: 20%;
	margin-left: 20%;
	padding: 1rem;
}

.body {
	display: block;
	margin: 0;
}

/* // Navbar */
.navbar {
	display: flex;
	text-align: center;
	flex-direction: row;
}

.nav-logo {
	display: flex;
}

.wrapper {
	padding: 1rem;
}

.wrapper-logo {
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column ;
}

.nav-menu{
	padding: 1rem;
	text-align: center;
	justify-content: flex-start;
	align-items: center;
	display: flex;
	width: 100%;
}

.nav-menu a {
	text-decoration: none;
	color: black;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}

.nav-menu-end{
	/* // padding: 1rem; */
	text-align: center;
	justify-content: flex-end;
	align-items: center;
	display: flex;
	width: 100%;
}

.nav-menu-end a {
	text-decoration: none;
	color: black;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
}

/* Change the color of links on hover */
.nav-menu a:hover {
    color: #5cc751;
}

.nav-menu-end a:hover {
    color: #5cc751;
}

/* // Footer */
.panel-gray {
	background: #e8edee;
	width: 100%;
	max-height: 15rem;
	height: auto;
	/* // margin-top: 10px; */
}

.panel-black {
	background: #333333;
	width: 100%;
	max-height: rem;
	height: auto;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

.icon-twitter {
	color: #128ec3;
}
.icon-fb {
	color: #3b5998;
}
.icon-ig {
	color: #e6613e;
}
.icon-youtube {
	color: #ff0000;
}

.icon-flex {
	display: flex;
	justify-content: center;
}

.t-none {
	text-decoration: none;
}

.flex-menu {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	width: 50%;
}

.li-menu {
	/* // margin: 1px; */
	margin-left: 1.5rem;
	padding: 0.3rem;
	width: 18%;
	color: white;
	list-style-type: none;
}
.li-menu a {
	text-decoration: none;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 17px;
}
.li-menu a:hover {
    color: #d5820d;
}