.lb {
	background-color: #128ec3;
}

.p-service1 {
	margin: 10px;
	color: #d5820d;
	font-size: 22px;
	font-family: 'Slabo 27px', serif;
}

.p-service2 {
	margin: 5px;
	color: white;
	font-size: 33px;
	font-family: 'Merriweather', serif;
}

.flex-menu-svc {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: auto;
	width: 75%;
}

.li-svc {
	margin: 0.5rem;
	padding: 3rem 2rem;
	width: 17%;
	color: white;
	list-style-type: none;
	background-color: #30559a;
	transition: background-color 0.5s;
}
.li-svc:hover {
    background-color: white;
}
.li-svc:hover a{
    color: #30559a;
}
.li-svc a {
	text-decoration: none;
	color: white;
	font-family: 'Slabo 27px', serif;
	font-size: 22px;
}
