{% extends "layout.html" %}

{% block content %}
<style type="text/css">
	input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
</style>

<div class="block-c brownies">
	<div class="wrapper">
		<p class="black p-title1">Contact</p>
		<p class="p-title2 c-white">Us</p>		
	</div>
</div>

<div id="map" style="width:100%;height:500px"></div>

<div class="panel-c">
	<div class="cards-title">
		<strong>KONTAK</strong>
	</div>
	<p>Biro Hubungan Masyarakat Setda Prov. Kaltim</p>
	<p>Jl. Gadjah Mada No. 2</p>
	<p>Telp. 0541-733333 </p>
	<p>E-Mail : humas@kaltimprov.go.id</p>
	<p>Kalimantan Timur - Kalimantan Timur</p>
</div>

<!-- Form CRUD -->
<div class="block-c steel-gray">
	<div class="panel-c">
		<div class="cards-title lefter">
			<strong>FORM PENGADUAN</strong>
		</div>
		<div class="form-pad">
			<form id="form">
				<label for="name"  class="lefter">Nama</label>
				<input type="text" name="name" id="namaC">
				<label class="lefter">Email</label>
				<input type="text" name="email" id="emailC">
				<label class="lefter">Pesan / Keluhan</label>
				<textarea id="comment"></textarea>
				<input type="submit" id="submitbtn" value="Kirim">
			</form>
		</div>
	</div>
</div>


<!-- Footer -->
<script>
function myMap() {
  var myCenter = new google.maps.LatLng(-0.500967,117.139251);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhCDhrHM0NYegWhrBsxtaTR7Sm6K9kCNg&callback=myMap"></script>

<script type="text/javascript">
	document.getElementById('form').addEventListener("submit", check);

	function check(event) {
		var a = document.getElementById('namaC').value;
		var b = document.getElementById('emailC').value;
		var c = document.getElementById('comment').value;
		
		if( a == "") {
			swal({
				title: "Error",
				text: "Kolom nama belum diisi",
				icon: "error",
				closeOnClickOutside: false,
			})
			event.preventDefault();
		} else if (b == "") {
			swal({
				title: "Error",
				text: "Kolom email belum diisi",
				icon: "error",
				closeOnClickOutside: false,
			})
			event.preventDefault();

		} else if (c == ""){
			swal({
				title: "Error",
				text: "Kolom komentar belum diisi",
				icon: "error",
				closeOnClickOutside: false,
			})
			event.preventDefault();
		} else {
			swal({
				title: "Terima Kasih",
				text: "Komentar anda akan kami respon secepat mungkin",
				icon: "success",
				closeOnClickOutside: false,
			})
			event.preventDefault();
		}
	}
</script>
{% endblock %}
