{% extends "layout.html" %}

{% block content %}
<div class="dark-blue news-header">
	<div class="padLR6">
		<h1>
			<span class="p-title2">
				Government
			</span>
			<span class="p-title1">
				Struktur Resmi Pemerintahan Kalimantan Timur
			</span>
		</h1>	
	</div>
</div>

<div class="block-c space">
    <div class="header slabo27">
        <h6>Your</h6>
        <h4>Government</h4>
    </div>

    <div class="profile">
        <img src="/static/images/gubernur.jpg" alt="Gubernur" class="profile-mug">
        <div class="arrow-blue"></div>
        <div class="block-c2 light-blue">
            <div class="panel-detail">
                Gubernur
            </div>
            <div class="panel-sub">
                 DR. H. AWANG FAROEK ISHAK, MM, M.SI 
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/halaman/profil-gubernur" class="link outline opacity space">Detail</a>
            </div>
        </div>
    </div>

    <div class="profile">
        <div class="block-c2 brownies">
            <div class="panel-detail">
                Wakil Gubernur
            </div>
            <div class="arrow-orange"></div>
            <div class="panel-sub">
                H.M. Mukmin Faisyal HP, SH, MH
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/halaman/wakil-gubernur-kalimantan-timur" class="link outline opacity space">Detail</a>
            </div>
        </div>
        <img src="/static/images/wa-gubernur.jpg" alt="Wakil Gubernur" class="profile-mug">
    </div>

    <div class="profile">
        <img src="/static/images/secretary.jpg" alt="Sekretaris" class="profile-mug">
        <div class="arrow-blue"></div>
        <div class="block-c2 light-blue">
            <div class="panel-detail">
                Sekretaris
            </div>
            <div class="panel-sub">
                 DR. HJ. MEILIANA, SE, MM
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/halaman/sekretaris-daerah-kaltim" class="link outline opacity space">Detail</a>
            </div>
        </div>
    </div>
</div>    

<div class="block-c space">
	<div class="profile">
        <div class="block-c2 brownies">
            <div class="panel-detail">
                Kabupaten
            </div>
            <div class="arrow-orange"></div>
            <div class="panel-sub">
                Kota Samarinda <br>
                Kota Balikpapan <br>
                Kota Bontang <br>
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/daftar-kabupaten" class="link outline opacity space">Detail</a>
            </div>
        </div>
        <img src="/static/images/gedung.jpg" alt="Kabupaten" class="profile-mug">
    </div>
</div>

{% endblock %}