{% extends "layout.html" %} 

{% block content %}
<div class="banner">
    <div class="bkg">
        <div class="banner-text slabo27">
            <h1>Kenali wisata taman laut</h1>
        </div>
        <div class="banner-text slabo27">
            <p>Kepulauan Derawan adalah sebuah kepulauan yang berada di Kabupaten Berau, Kalimantan Timur. Di kepulauan ini terdapat sejumlah objek wisata bahari menawan, salah satunya Taman Bawah Laut yang diminati wisatawan mancanegara terutama para penyelam kelas dunia. </p>
        </div>
        <div class="banner-text">
            <a href="{{ '/services/pariwisata' }}" class="link outline opacity">Read more</a>
        </div>
    </div>
</div>

<div class="block-c space">
    <div class="header slabo27">
        <h6>TOP</h6>
        <h4>News</h4>
    </div>

    <div class="panel-c flex">
        <div class="card">
            <img src="/static/images/cards1.JPG" alt="cards1" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/meiliana-ajak-media-lebih-sejuk" class="cards-title">Meiliana Ajak Media Lebih Sejuk</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/cards2.JPG" alt="cards2" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/gubernur-aplikasi-oss-untungkan-investor" class="cards-title">Gubernur : Aplikasi OSS Untungkan Investor</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/cards3.jpg" alt="cards3" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/baru-dua-desa-ikut-lomdeskel" class="cards-title">Baru Dua Desa Ikut Lomdeskel</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
    </div>
</div>

<div class="flex space flex-bg slabo27">
    <h3>Stay Informed</h3>
    <input type="" name="" placeholder="Nama" style="width: 15%" class="input-custom">
    <input type="" name="" placeholder="Email" style="width: 30%" class="input-custom">
    <input type="" name="" placeholder="Kode Pos" class="input-custom input-end">
</div>

<div class="block-c magenta">
    <div class="header">
        <p class="p-title1">OUR</p>
        <p class="p-title2">Project</p>
    </div>

    <div class="panel-c flex">
        <div class="card2">
            <p class="p-custom1">02.10.2017</p>
            <p class="p-title2">Oktober</p>
            <p class="p-custom2">Jembatan Mahakam Samarinda</p>
            <div class="detail-center space-5">
                <a href="http://kaltimprov.go.id/berita/jembatan-mahakam-iv-samarinda-jembatan-kembar-sungai-mahakam" class="link outline-thin opacity" target="blank">Detail</a>
            </div>
        </div>

        <div class="card2">
            <p class="p-custom1">16.10.2017</p>
            <p class="p-title2">Oktober</p>
            <p class="p-custom2">Jembatan Pulau Balang</p>
            <div class="detail-center space-5">
                <a href="http://kaltimprov.go.id/berita/jembatan-pulau-balang" class="link outline-thin opacity" target="blank">Detail</a>
            </div>
        </div>

        <div class="card2">
            <p class="p-custom1">15.11.2017</p>
            <p class="p-title2">November</p>
            <p class="p-custom2">Jalan Tol Balikpapan-Samarinda</p>
            <div class="detail-center space-5">
                <a href="http://kaltimprov.go.id/berita/jalan-tol-balikpapan-samarinda" class="link outline-thin opacity" target="blank">Detail</a>
            </div>
        </div>
    </div>
</div>

<div class="block-c space">
    <div class="header slabo27">
        <h6>Your</h6>
        <h4>Government</h4>
    </div>

    <div class="profile">
        <img src="/static/images/gubernur.jpg" alt="Gubernur" class="profile-mug">
        <div class="arrow-blue"></div>
        <div class="block-c2 light-blue">
            <div class="panel-detail">
                Gubernur
            </div>
            <div class="panel-sub">
                 DR. H. AWANG FAROEK ISHAK, MM, M.SI 
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/halaman/profil-gubernur" class="link outline opacity space">Detail</a>
            </div>
        </div>
    </div>
    <div class="profile">
        <div class="block-c2 brownies">
            <div class="panel-detail">
                Wakil Gubernur
            </div>
            <div class="arrow-orange"></div>
            <div class="panel-sub">
                H.M. Mukmin Faisyal HP, SH, MH
            </div>
            <div class="banner-text p-left">
                <a href="http://kaltimprov.go.id/halaman/wakil-gubernur-kalimantan-timur" class="link outline opacity space">Detail</a>
            </div>
        </div>
        <img src="/static/images/wa-gubernur.jpg" alt="Wakil Gubernur" class="profile-mug">
    </div>
</div>

<div class="block-c space light-blue">
    <div class="header slabo27">
        <h6 style="color: white">Tetap</h6>
        <h4 style="color: white">Terhubung</h4>
    </div>
    <a href="https://play.google.com/store/apps/details?id=com.sandsmultimedia.dany.webview&hl=in" target="blank">
        <img src="/static/images/android.png" class="android" alt="Play store">
    </a>
</div>

<div class="panel-gray">
    <div class="panel-c">
        <div class="strike">
            <span class="slabo27">Media Sosial</span>
        </div>
    </div>
    <div class="container icon-flex">
        <a href="https://facebook.com/pemprovkaltim1970" target="blank" class="t-none">
            <i class="fa fa-facebook fa-2x wrapper icon-fb" ></i>
        </a>
        <a href="https://instagram.com/pemprov_kaltim/" target="blank" class="t-none">
            <i class="fa fa-instagram fa-2x wrapper icon-ig" ></i>
        </a>
        <a href="https://twitter.com/Pemprov_Kaltim" target="blank" class="t-none">
            <i class="fa fa-twitter fa-2x wrapper icon-twitter" ></i>
        </a>
        <a href="https://youtube.com/channel/UC8K2Vkg90DjhK6ysB2FvTyg" target="blank" class="t-none">
            <i class="fa fa-youtube fa-2x wrapper icon-youtube" ></i>
        </a>
    </div>
</div>
{% endblock %}