<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Provinsi Kalimantan Timur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom -->
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/services.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/8eae58a49e.js"></script>
    <!-- Sweet ALert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body class="body">
    {% include "/partial/header.html" %}
    
    {% block content %}
    {% endblock %}

    {% include "/partial/footer.html" %}
</body>
</html>