{% extends "layout.html" %}

{% block content %}
<div class="dark-blue news-header">
	<div class="padLR6">
		<h1>
			<span class="p-title2">
				Pariwisata
			</span>
			<span class="p-title1">
				Air Terjun Kedang Ipil
			</span>
		</h1>	
	</div>
</div>

<div id="map" style="width:100%;height:500px"></div>

<div class="panel-c">
	
Sahabat Wisata …
Desa Budaya Kutai Adat Lawas di sematkan kepada desa Kedang Ipil ini memang tidak salah. Salah satu alasannya adalah desa ini merupakan salah satu desa tertua dan masih memegang teguh adat dan tradisi leluhur [red]. Lokasinya Masuk di wilayah Kecamatan Kota Bangun, Kabupaten Kutai Kartanegara, namun lokasinya tidak di sisi sungai mahakam, melainkan masih di sekitar jalan poros Tenggarong menuju Kota Bangun & Simpang menuju Melak (Kabupaten Kutai Barat), tepatnya masuk di simpang Merai, dan masih sekitar 18 km menuju Desa Kedang Ipil, melalui hutan dan areal perusahaan Kelapa Sawit.
<br>
<br>

Salah satu acara adat yang masih dijalankan hingga saat ini adalah acara panen padi yang di sebut dengan Nutuk Baham (Nutuk artinya menumbuk, Baham artinya padi muda). Acara ini biasanya dilaksanakan pertengahan tahun saat panen, yakni sekitar bulan mei – juni. Selain itu masih ada ritual Belian (mengobati orang sakit dengan menggunakan ritual yang di pimpin orang Dewa Belian), Nikah Adat, Ritual saat orang meninggal dunia dan masih banyak lagi, termasuk objek wisata Air Terjun Putang & Kandua Raya.
<br>
<br>
Dari Bandara Balikpapan, kita bisa menggunakan bis menuju Loa Janan lalu ikut Mobil Taxi menuju Terminal di Tenggarong. Di Tenggarong ikut Bis juruan Kota Bangun dan minta di turunkan di Simpang Merai yang berada tidak jauh sebelum simpangan menuju Melak. Berhubung tidak ada sarana umum menuju Desa Kedang Ipil, cobalah menumpang beberapa kendaraan yang memasuki simpang Merai, baik itu sepeda motor, mobil pribadi maupun mobil perusahaan. Perkiraan budget antara 100 – 150 ribu untuk keseluruhan. Jika memiliki banyak teman (sekitar 4 -5 orang) saat traveling alangkah bagusnya menyewa mobil baik dari Balikpapan, Loa Janan atau dari Tenggarong menuju Kedang Ipil. Budget sekitar 700 – 800 ribu per mobil (tergantung jenis mobil yang digunakan). Perjalanan dari Balikpapan menuju Tenggarong memakan waktu sekitar 2 – 3 jam, dari Tenggarong menuju Simpang Merai sekitar 1 – 1,5 jam, dari Simpang Merai menuju Desa Kedang Ipil sekitar 30 – 45 menit. Kondisi jalan yang kebanyakan tanah berbatu di selingi dengan jalan semen & aspal masih relative aman bagi yang kendaraan mobil standar atau motor.
<br>
<br>
Di Desa Kedang Ipil, ada banyak pilihan menginap. Ingin gantung hammock, camping, ataupun bagi yang mau menumpang di rumah warga alias homestay, silahkan budayakan untuk bertanya kepada warga kampung yang ditemui, untuk Pos Masuk ke objek wisata air terjun Putang & Kandua Raya, Balai Adat ada di ujung kampung. Untuk homestay tersebar di beberapa titik kampung dan sudah ada tandanya di masing – masing homestay. Untuk gantung hammock bisa di pohon buah yang banyak terdapat di depan Balai Adat atau bisa juga di gabung dengan pasang tenda di sekitar Air Terjun Kandua Raya, carilah titik yang aman dari kemungkinan air besar saat musim hujan atau dari sesuatu yang jatuh dari pepohonan sekitar. Biaya masuk ke air terjun cuma 3 ribu rupiah per orang dan pengunjung juga bisa menggunakan sepeda motor pribadi atau menggunakan jasa ojek dengan tarif 25 ribu untuk tujuan Air Terjun Kandua Raya (Pulang Pergi) & 50 ribu untuk tujuan Air Terjun Putang (PP). Untuk camping dikenakan biaya 250 ribu per grup, untuk sedikit orang silahkan dikomunikasikan dengan Pokdarwis (Kelompok Sadar Wisata) Dewi Karya. Saat musim hujan, kami juga bisa mencoba Tubing dari Air Terjun Putang menuju Kandua Raya, biayanya sekitar 250 ribu per 5 orang, sudah termasuk ban / tube, life jacket dan helm.
<br>
<br>
Beberapa kegiatan sehari – hari warga yang menarik untuk dilihat secara langsung adalah mengambil air dari pohon aren yang biasanya di lakukan setiap pagi dan menjelang sore. Kalau ada warga yang membawa beberapa batang bambu besar baik dengan berjalan kaki atau menggunakan sepeda motor, panggillah dengan sopan dan minta ijin untuk ikut melihat aktifitas tersebut. Beberapa lokasi pengambilan air aren ber variatif, ada yang dekat dan juga ada yang jauh. Pastikan jarak tempuh terlebih dahulu bagi yang tidak terbiasa berjalan kaki untuk rute yang jauh. Proses pengambilan air aren lumayan ekstrem, hanya menggunakan tangga yang terbuat dari bambu panjang dan dilubangi di kedua sisi dan dipasangi batang kayu untuk pijakan, tidak ada tali pengaman bagi pengambil air aren. Walau ada yang pernah meninggal karena jatuh saat mengambil air aren, tradisi ini masih terus dilakukan. Pengambil air aren biasanya memukul – mukul batang atas pohon aren yang dimaksudkan untuk membuat aliran air di dalam batang pohon mengalir deras. Adapun batang bambu (belum berisi air alias kosong) yang di bawa dari awal akan dipasang untuk menggantikan batang bambu yang sudah dipasang 12 jam sebelumnya, dan sudah terisi dengan air. Proses pengisian air aren ke bambu memang memakan waktu lama, karena menunggu tetes demi tetes dari batang aren yang di iris dengan Mandau. Setelah pengambil air aren turun dari pohon kita bisa meminta ijin untuk mencicipi rasanya yang masih segar. Air aren bagus untuk kesehatan ternyata, seperti untuk pencernaan dan ginjal.
<br>
<br>
Air aren kebanyakan akan di proses menjadi Gula Aren atau gula merah, dan sebagian kecil dijadikan minuman fermentasi (tuak). Proses pembuatan gula merah sekitar 3 – 4 jam, tergantung jumlah air dan suhu panas pembakaran. Pembuatan gula merah di Desa Kedang Ipil bisa dijamin tanpa campuran alias murni dari air aren, sehingga warnanya cokelat segar dan rasanya gurih. Saya sendiri paling senang mencicipi air aren yang sudah di panaskan sekitar 1 – 2 jam, rasanya lebih enak daripada yang belum diproses. Saat air mulai mengental, pembuat gula merah akan mengaduk – aduk terlebih dahulu lalu di tuang ke cetakan gula merah yang terbuat dari batang kayu khusus dan berisi sekitar 4 – 5 cetakan dalam satu wadah. Sisa air aren yang tertinggal di wajan, enak di cicipi. Salah satu aktifitas warga lainnya yang bisa ditemukan sehari – hari adalah aktifitas ibu – ibu yang membuat tusuk sate dari pohon bambu, bisa dengan mudah di lihat karena dikerjakan di depan rumah atau saat mereka menunggu anak – anak pulang sekolah.
<br>
<br>
Desa Kedang Ipil masih kental dengan adat istiadat Kutai Adat Lawas, mereka ada beberapa ritual yang terus dijalankan seperti Nyepi (tidak keluar rumah selama beberapa hari, tidak menyakiti, membunuh binatang bahkan serangga hingga dilarang memakan sesuatu yang bernyawa seperti ikan, ayam, dll), Nikah Adat, tradisi saat seseorang meninggal dunia, dan tentu saja ritual Belian untuk pengobatan.
<br>
<br>
Kelompok sadar wisata (pokdarwis) yang dinamai “Dewi Karya” telah terbentuk di desa ini dapat juga dijadikan referensi untuk segala informasi mengenai rencana kunjungan dan event budaya. Sahabat wisata bisa menghubungi Pak Sartin dengan nomor handphone 0813 4795 9752, akan sangat senang bisa membantu sahabat wisata semuanya.
Belum puas rasanya bila berkunjung ke desa ini kalau hanya sekali. Sebelum pulang, jangan lupa membeli oleh – oleh khas Desa Kedang Ipil, gula merah, anyaman tas (anjat) / gelang / cincin yang terbuat dari rotan & kandau, serta beberapa kerajinan tangan khas lainnya. [IR]
<br>
<br>
Sumber: www.pariwisatakaltim.com
</div>

<div class="block-c" style="margin: 10px 0">
	<iframe width="854" height="480" src="https://www.youtube.com/embed/Keq3nons4Cc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Script -->
<script>
function myMap() {
  var myCenter = new google.maps.LatLng(-0.427824,116.619959);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 18};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhCDhrHM0NYegWhrBsxtaTR7Sm6K9kCNg&callback=myMap"></script>
{% endblock %}