{% extends "layout.html" %}

{% block content %}
<div class="dark-blue news-header">
	<div class="padLR6">
		<h1>
			<span class="p-title2">
				Informasi Publik
			</span>
			<span class="p-title1">
				Berita Resmi dari Pemerintah
			</span>
		</h1>	
	</div>
</div>

<div class="banner">
	<div class="bkg-news">
		<div class="meta-info padLR6">
			<h1 class="meta-title c-white">
				Rakor Adbang, Wujudkan Pembangunan Berkualitas
			</h1>
			<h3 class="meta-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h3>
			<a href="#" class="link outline-thin opacity space space-5L">Detail</a>
		</div>
	</div>	
</div>

<div class="block-c space">
    <div class="header slabo27">
        <h6>TOP</h6>
        <h4>News</h4>
    </div>

    <div class="panel-c flex">
        <div class="card">
            <img src="/static/images/cards1.JPG" alt="cards1" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/meiliana-ajak-media-lebih-sejuk" class="cards-title">Meiliana Ajak Media Lebih Sejuk</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/cards2.JPG" alt="cards2" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/gubernur-aplikasi-oss-untungkan-investor" class="cards-title">Gubernur : Aplikasi OSS Untungkan Investor</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/cards3.jpg" alt="cards3" class="cards-profile">
            <div class="card-c">
                <a href="http://kaltimprov.go.id/berita/baru-dua-desa-ikut-lomdeskel" class="cards-title">Baru Dua Desa Ikut Lomdeskel</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
    </div>
</div>

<div class="block-c brownies space">
	<div class="wrapper">
		<p class="black p-title1">All</p>
		<p class="p-title2 c-white">News</p>		
	</div>
</div>

<div class="panel-c">
	<div class="news-feed">
		<div class="news-card flex-c">
			<img src="/static/images/news_img_1.JPG" class="news-img">
            <div class="card-cnews">
                <a href="#" class="cards-title">GUBERNUR: OPD HARUS SUKSESKAN PROYEK STRATEGIS NASIONAL</a>
                
                <p class="time-news">20 Juli 2018 Jam 18:21:56</p>

                <p class="txt-hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
		</div>

        <div class="news-card flex-c space">
            <img src="/static/images/default_img.png" class="news-img">
            <div class="card-cnews">
                <a href="#" class="cards-title">BALITBANGDA YAKIN TEKNOLOGI NUKLIR BAWA KALTIM SWASEMBADA BERAS</a>
                
                <p class="time-news">20 Juli 2018 Jam 18:20:19</p>

                <p class="txt-hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
        </div>

        <div class="news-card flex-c space">
            <img src="/static/images/news_img_2.jpg" class="news-img">
            <div class="card-cnews">
                <a href="#" class="cards-title">KAWASAN INDUSTRI PERIKANAN</a>
                
                <p class="time-news">19 Juli 2018 Jam 21:12:58</p>

                <p class="txt-hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
        </div>

        <div class="news-card flex-c space">
            <img src="/static/images/news_img3.JPG" class="news-img">
            <div class="card-cnews">
                <a href="#" class="cards-title">PUSAT TEGASKAN DUKUNGAN KERETA API KALTIM DIBAWA KE RUSIA</a>
                
                <p class="time-news">19 Juli 2018 Jam 21:01:47</p>

                <p class="txt-hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
        </div>

        <div class="news-card flex-c space">
            <img src="/static/images/default_img.png" class="news-img">
            <div class="card-cnews">
                <a href="#" class="cards-title">SEMANGAT KERJA DI PERBATASAN DAN WILAYAH TERLUAR, PEMPROV TERIMA CPNS LULUSAN IPDN</a>
                
                <p class="time-news">20 Juli 2018 Jam 18:23:14</p>

                <p class="txt-hide">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

            </div>
        </div>
	</div>
</div>


<div class="panel-gray space">
    <div class="panel-c">
        <div class="strike">
            <span class="slabo27">Media Sosial</span>
        </div>
    </div>
    <div class="container icon-flex">
        <a href="https://facebook.com/pemprovkaltim1970" target="blank" class="t-none">
            <i class="fa fa-facebook fa-2x wrapper icon-fb" ></i>
        </a>
        <a href="https://instagram.com/pemprov_kaltim/" target="blank" class="t-none">
            <i class="fa fa-instagram fa-2x wrapper icon-ig" ></i>
        </a>
        <a href="https://twitter.com/Pemprov_Kaltim" target="blank" class="t-none">
            <i class="fa fa-twitter fa-2x wrapper icon-twitter" ></i>
        </a>
        <a href="https://youtube.com/channel/UC8K2Vkg90DjhK6ysB2FvTyg" target="blank" class="t-none">
            <i class="fa fa-youtube fa-2x wrapper icon-youtube" ></i>
        </a>
    </div>
</div>	

{% endblock %}