{% extends "layout.html" %}

{% block content %}
<div class="dark-blue news-header">
	<div class="padLR6">
		<h1>
			<span class="p-title2">
				Pariwisata 
			</span>
			<span class="p-title1">
				Lokasi Pariwisata di Kalimantan Timur
			</span>
		</h1>	
	</div>
</div>

<div class="block-c space">
    <div class="header slabo27">
        <h6>TOP</h6>
        <h4>Location</h4>
    </div>

    <div class="panel-c flex">
        <div class="card">
            <img src="/static/images/wisata1.jpg" alt="cards1" class="cards-profile">
            <div class="card-c">
                <a href="{{ '/lokasi' }}" class="cards-title">PANTAI SEKERAT</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/wisata2.jpg" alt="cards2" class="cards-profile">
            <div class="card-c">
                <a href="{{ '/lokasi' }}" class="cards-title">AIR TERJUN KEDANG IPIL</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
        <div class="card">
            <img src="/static/images/wisata3.jpg" alt="cards3" class="cards-profile">
            <div class="card-c">
                <a href="{{ '/lokasi' }}" class="cards-title">DESA BUDAYA PAMPANG</a>
            </div>
            <div class="card-c">
                <p>Lorem ipsum dolor sit amet, has ut velit mentitum. Has vivendum tractatos cu. Sale legere graeci in mei. Per graece comprehensam signiferumque an, pri ut soluta noster.</p>
            </div>
        </div>
    </div>
    <a href="#" class="outline-thin opacity link" style="margin: 10px; color: #39a1cd; border-color: #39a1cd; font-size: 1rem; border-radius: 8px;">Read More</a>
</div>
{% endblock %}