{% extends "layout.html" %}

{% block content %}
<div class="block-c lb">
	<div class="header">
		<p class="p-service1">Kalimantan Timur</p>
		<p class="p-service2">Layanan</p>
	</div>
	<div class="flex-menu-svc">
		<li class="li-svc">
			<a href="">Bisnis</a>
		</li>
		<li class="li-svc">
			<a href="{{ '/services/pariwisata' }}">Pariwisata</a>
		</li>
		<li class="li-svc">
			<a href="">Pendidikan</a>
		</li>
		<li class="li-svc">
			<a href="">Pekerjaan</a>
		</li>
		<li class="li-svc">
			<a href="">Lingkungan</a>
		</li>
		<li class="li-svc">
			<a href="">Pemerintahan</a>
		</li>
		<li class="li-svc">
			<a href="">Kesehatan</a>
		</li>
		<li class="li-svc">
			<a href="">Pelayanan</a>
		</li>
		<li class="li-svc">
			<a href="">Identifikasi</a>
		</li>
		<li class="li-svc">
			<a href="">Lisensi</a>
		</li>
		<li class="li-svc">
			<a href="">Militer</a>
		</li>
		<li class="li-svc">
			<a href="">Keselamatan </a>
		</li>
		<li class="li-svc">
			<a href="">Program Sosial</a>
		</li>
		<li class="li-svc">
			<a href="">Pajak</a>
		</li>
		<li class="li-svc">
			<a href="">Transportasi</a>
		</li>
		<li class="li-svc">
			<a href="">Sosial</a>
		</li>
	</div>
</div>

{% endblock %}