<footer>
	<div class="panel-black">
		<div class="flex-menu">
			<li class="li-menu">
				<a href="{{ '/'}}">Profil</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Pemerintahan</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Media Center</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Informasi</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Pelayanan</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Ekonomi</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">Dokumentasi</a>
			</li>
			<li class="li-menu">
				<a href="{{ '/' }}">About</a>
			</li>
		</div>
	</div>
</footer>