<div class="navbar">
    <div class="nav-logo vl">
        <a href="{{ '/' }}" class="wrapper-logo">
            <img src="{{ '/static/images/logo.png' }}" alt="Logo">
        </a>
    </div>
    <div class="nav-menu">
        <a href="{{ '/services' }}" class="wrapper">Layanan</a>
        <a href="{{ '/news' }}" class="wrapper">Berita</a>
        <a href="{{ '/government' }}" class="wrapper">Pemerintahan</a>
        <a href="{{ '/contact' }}" class="wrapper">Kontak</a>
    </div>
    <div class="nav-menu-end">
        <a href="http://portal-kaltim.com" class="wrapper" target="blank">Portal</a>
    </div>
</div>